body {
  text-align: center;
  background-color: darkgray;
}

#gamecontainer {
  position: relative;
  display: inline-block;
  width: 1024px;
  height: 768px;
  margin: auto;
}

.notes {
  width: 1024px;
  margin: auto;
  text-align: left;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
}
